<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grability.appstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.splash.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.categories.CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.loader.LoaderActivity"
            android:label="@string/title_activity_loader"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".modules.apps.AppsActivity"
            android:label="@string/title_activity_apps"
            android:parentActivityName=".modules.categories.CategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grability.appstore.modules.categories.CategoriesActivity" />
        </activity>
        <activity
            android:name=".modules.apps.detail.AppDetailActivity"
            android:label="@string/title_activity_app_detail"
            android:parentActivityName=".modules.apps.AppsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grability.appstore.modules.apps.AppsActivity" />
        </activity>
    </application>

</manifest>
